@each $key, $value in $spacings {
    .util-margin-top-#{$key} {
        margin-top: $value;
    }

    .util-margin-bottom-#{$key} {
        margin-bottom: $value;
    }

    .util-margin-left-#{$key} {
        margin-left: $value;
    }

    .util-margin-right-#{$key} {
        margin-right: $value;
    }
}
